.symbaroum .artifact .name {
    flex-basis: 70%;
    padding: 2px;
}

.symbaroum .artifact .corruption {
    flex-basis: 30%;
    padding: 2px;
}

.symbaroum .artifact .corruption input {
    text-align: center;
}

.symbaroum .artifact .action {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .artifact .description {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .artifact .description textarea {
    height: 180px;
    resize: none;
}