.symbaroum .weapon .name {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .weapon .damage {
    flex-basis: 50%;
    padding: 2px;
}

.symbaroum .weapon .price {
    flex-basis: 50%;
    padding: 2px;
}

.symbaroum .weapon .quality {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .weapon .description {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .weapon .description textarea {
    height: 180px;
    resize: none;
}