.symbaroum .character .age {
    flex-basis: 20%;
    padding: 2px;
}

.symbaroum .character .height {
    flex-basis: 20%;
    padding: 2px;
}

.symbaroum .character .weight {
    flex-basis: 20%;
    padding: 2px;
}

.symbaroum .character .appearance {
    flex-basis: 60%;
    padding: 2px;
}

.symbaroum .character .shadow {
    flex-basis: 40%;
    padding: 2px;
}co

.symbaroum .character .quote {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .character .goal {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .character .appearance {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .character .appearance textarea {
    resize: none;
    border: 1px solid #7a7971;
}

.symbaroum .character .background {
    flex-basis: 100%;
    padding: 2px;
}

.symbaroum .character .background textarea {
    height: 72px;
    resize: none;
    border: 1px solid #7a7971;
}
