.symbaroum .character .abilities {
    text-align: center;
}

.symbaroum .character .ability.item:hover {
    text-shadow: 0 0 10px lightslategrey;
}

.symbaroum .character .ability-header {
    text-align: center;
    width: 877px;
    background-color: lightslategrey;
}

.symbaroum .character .ability-column {
    border-bottom: 1px dashed black;
}

.symbaroum .character .abilities-scrollable {
    overflow-y: auto;
    height: 273px;
    max-height: 273px;
}

.symbaroum .character .ability {
    align-items: center;
}

.symbaroum .character .ability-name {
    flex-basis: 20%;
}

.symbaroum .character .ability-effect {
    flex-basis: 50%;
}

.symbaroum .character .ability-action {
    flex-basis: 12%;
}

.symbaroum .character .ability-level {
    flex-basis: 12%;
}

.symbaroum .character .ability-button {
    flex-basis: 6%;
}

.symbaroum .character .weapons {
    text-align: center;
}

.symbaroum .character .weapon.item:hover {
    text-shadow: 0 0 10px lightslategrey;
}

.symbaroum .character .weapon-header {
    text-align: center;
    width: 877px;
    background-color: lightslategrey;
}

.symbaroum .character .weapon-column {
    border-bottom: 1px dashed black;
}

.symbaroum .character .weapons-scrollable {
    overflow-y: auto;
    height: 114px;
    max-height: 114px;
}

.symbaroum .character .weapon {
    align-items: center;
}

.symbaroum .character .weapon-name {
    flex-basis: 40%;
}

.symbaroum .character .weapon-damage {
    flex-basis: 20%;
}

.symbaroum .character .weapon-quality {
    flex-basis: 34%;
}

.symbaroum .character .weapon-button {
    flex-basis: 6%;
}