.symbaroum .character .gear-wrapper {
    width: 571px;
}

.symbaroum .character .gears {
    text-align: center;
    flex-basis: 35%;
    padding: 5px;
    border-right: 1px dashed black;
}

.symbaroum .character .gear-header {
    text-align: center;
    background-color: lightslategrey;
}

.symbaroum .character .gear-column {
    border-bottom: 1px dashed black;
}

.symbaroum .character .gears-scrollable {
    overflow-y: auto;
    height: 211px;
    max-height: 211px;
}

.symbaroum .character .gear {
    align-items: center;
}

.symbaroum .character .gear-name {
    flex-basis: 80%;
}

.symbaroum .character .gear-button {
    flex-basis: 20%;
}

.symbaroum .character .other {
    flex-basis: 65%;
    padding: 5px;
}

.symbaroum .character .money {
    text-align: center;
    align-self: center;
    padding: 5px;
}

.symbaroum .character .armors {
    text-align: center;
}

.symbaroum .character .armor-header {
    text-align: center;
    background-color: lightslategrey;
}

.symbaroum .character .armor-column {
    border-bottom: 1px dashed black;
}

.symbaroum .character .armors-scrollable {
    overflow-y: auto;
    height: 40px;
    max-height: 40px;
}

.symbaroum .character .armor-item {
    align-items: center;
}

.symbaroum .character .armor-name {
    flex-basis: 30%;
}

.symbaroum .character .armor-protection {
    flex-basis: 20%;
}

.symbaroum .character .armor-quality {
    flex-basis: 40%;
}

.symbaroum .character .armor-button {
    flex-basis: 10%;
}

.symbaroum .character .weapons-gear {
    text-align: center;
}

.symbaroum .character .weapon-gear-header {
    text-align: center;
    background-color: lightslategrey;
}

.symbaroum .character .weapon-gear-column {
    border-bottom: 1px dashed black;
}

.symbaroum .character .weapons-gear-scrollable {
    overflow-y: auto;
    height: 40px;
    max-height: 40px;
}

.symbaroum .character .weapon-gear {
    align-items: center;
}

.symbaroum .character .weapon-gear-name {
    flex-basis: 30%;
}

.symbaroum .character .weapon-gear-damage {
    flex-basis: 20%;
}

.symbaroum .character .weapon-gear-quality {
    flex-basis: 40%;
}

.symbaroum .character .weapon-gear-button {
    flex-basis: 10%;
}

.symbaroum .character .artifacts {
    text-align: center;
}

.symbaroum .character .artifact-header {
    text-align: center;
    background-color: lightslategrey;
}

.symbaroum .character .artifact-column {
    border-bottom: 1px dashed black;
}

.symbaroum .character .artifacts-scrollable {
    overflow-y: auto;
    height: 61px;
    max-height: 61px;
}

.symbaroum .character .artifact-item {
    align-items: center;
}

.symbaroum .character .artifact-name {
    flex-basis: 40%;
}

.symbaroum .character .artifact-action {
    flex-basis: 30%;
}

.symbaroum .character .artifact-corruption {
    flex-basis: 20%;
}

.symbaroum .character .artifact-button {
    flex-basis: 10%;
}